// Colors
$primary-color: #476b35;
$gray: #f8f9f9;
$lightGray: #6a6a6a;
$error: #ff3333;

// Fonts
$primary-font-color: #4f4f4f;
$active-font-color: $primary-color;
$secondary-font-color: $lightGray;
