.alert__success {
  width: 100%;
  text-align: center;
  background-color: #b7eab7;
  padding: 10px;
  color: darkgreen;
}

.alert__error {
  width: 100%;
  text-align: center;
  background-color: #fab7b7;
  padding: 10px;
  color: #7a0000;
}
